<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 角色与许可 -->
    <bean id="top.cardone.authority.dao.RolePermissionDao"
          class="top.cardone.authority.dao.impl.RolePermissionDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/authority/rolePermission/"/>
                        <entry key="pks" value="rolePermissionId"/>
                        <entry key="codes" value="rolePermissionId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="rolePermissionId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 角色与许可 -->
    <bean id="top.cardone.authority.service.RolePermissionService"
          class="top.cardone.authority.service.impl.RolePermissionServiceImpl">
        <property name="dao" ref="top.cardone.authority.dao.RolePermissionDao"/>
    </bean>
</beans>