<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="readListRoleCodeFunc" class="top.cardone.authority.func.ReadListRoleCodeFunc"/>

    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="remoteInvocationExecutorParnet">
                <property name="serviceInterface" value="top.cardone.core.util.func.Func1"/>
                <property name="service" ref="readListRoleCodeFunc"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-authority-${cardone-authority-version}:readListRoleCodeFunc"/>
            </bean>
        </property>
    </bean>

    <bean name="readListPermissionCodeFunc" class="top.cardone.authority.func.ReadListPermissionCodeFunc"/>

    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="remoteInvocationExecutorParnet">
                <property name="serviceInterface" value="top.cardone.core.util.func.Func1"/>
                <property name="service" ref="readListPermissionCodeFunc"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-authority-${cardone-authority-version}:readListPermissionCodeFunc"/>
            </bean>
        </property>
    </bean>
</beans>