<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 用户与角色 -->
    <bean id="top.cardone.authority.dao.UserRoleDao"
          class="top.cardone.authority.dao.impl.UserRoleDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/authority/userRole/"/>
                        <entry key="pks" value="userRoleId"/>
                        <entry key="codes" value="userRoleId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="userRoleId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 用户与角色 -->
    <bean id="top.cardone.authority.service.UserRoleService"
          class="top.cardone.authority.service.impl.UserRoleServiceImpl">
        <property name="dao" ref="top.cardone.authority.dao.UserRoleDao"/>
    </bean>
</beans>