<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="top.cardone.usercenter.func.FindOneUserByPrincipalFunc"
          class="top.cardone.usercenter.func.FindOneUserByPrincipalFunc"/>

    <alias name="top.cardone.usercenter.func.FindOneUserByPrincipalFunc" alias="findOneUserByPrincipalFunc"/>

    <bean id="top.cardone.usercenter.func.ReadOneUserIdFunc"
          class="top.cardone.usercenter.func.ReadOneUserIdFunc"/>

    <alias name="top.cardone.usercenter.func.ReadOneUserIdFunc" alias="readOneUserIdFunc"/>

    <bean id="top.cardone.usercenter.func.ReadOneDepartmentFunc"
          class="top.cardone.usercenter.func.ReadOneDepartmentFunc"/>

    <alias name="top.cardone.usercenter.func.ReadOneDepartmentFunc" alias="readOneDepartmentFunc"/>

    <bean id="top.cardone.usercenter.func.ReadOneUserFunc"
          class="top.cardone.usercenter.func.ReadOneUserFunc"/>

    <alias name="top.cardone.usercenter.func.ReadOneUserFunc" alias="readOneUserFunc"/>

    <bean id="generateOrgTreeFunc"
          class="top.cardone.data.func.GenerateTreeFunc">
        <property name="codePutKey" value="orgCode"/>
        <property name="codeGetKey" value="ORG_CODE"/>
        <property name="pkPutKey" value="orgId"/>
        <property name="pkGetKey" value="ORG_ID"/>
        <property name="service" ref="top.cardone.usercenter.service.OrgService"/>
    </bean>

    <bean id="generateRegionTreeFunc"
          class="top.cardone.data.func.GenerateTreeFunc">
        <property name="codePutKey" value="regionCode"/>
        <property name="codeGetKey" value="REGION_CODE"/>
        <property name="pkPutKey" value="regionId"/>
        <property name="pkGetKey" value="REGION_ID"/>
        <property name="service" ref="top.cardone.usercenter.service.RegionService"/>
    </bean>

    <bean id="generateDepartmentTreeFunc"
          class="top.cardone.data.func.GenerateTreeFunc">
        <property name="codePutKey" value="departmentCode"/>
        <property name="codeGetKey" value="DEPARTMENT_CODE"/>
        <property name="pkPutKey" value="departmentId"/>
        <property name="pkGetKey" value="DEPARTMENT_ID"/>
        <property name="service" ref="top.cardone.usercenter.service.DepartmentService"/>
    </bean>
</beans>