<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 区域 -->
    <bean name="top.cardone.usercenter.service.RegionService"
          p:serviceInterface="top.cardone.usercenter.service.RegionService"
          p:routingKey="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.RegionService"
          parent="invokerProxyFactoryParnet">
        <property name="amqpTemplate">
            <bean parent="rabbitTemplateParnet">
                <property name="queue" value="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.RegionService"/>
                <property name="exchange" value="exchange:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.RegionService"/>
            </bean>
        </property>
    </bean>
</beans>