<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="departmentTreeFunc" parent="invokerProxyFactoryParnet">
        <property name="serviceInterface" value="top.cardone.core.util.func.Func1"/>
        <property name="queue">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-usercenter-${cardone-usercenter-version}:departmentTreeFunc"/>
            </bean>
        </property>
    </bean>

    <bean name="findOneUserByPrincipalFunc" parent="invokerProxyFactoryParnet">
        <property name="serviceInterface" value="top.cardone.core.util.func.Func0"/>
        <property name="queue">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-usercenter-${cardone-usercenter-version}:findOneUserByPrincipalFunc"/>
            </bean>
        </property>
    </bean>

    <bean name="readCreatedByIdFunc" parent="invokerProxyFactoryParnet">
        <property name="serviceInterface" value="top.cardone.core.util.func.Func0"/>
        <property name="queue">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-usercenter-${cardone-usercenter-version}:readCreatedByIdFunc"/>
            </bean>
        </property>
    </bean>

    <alias name="readCreatedByIdFunc" alias="readLastModifiedByIdFunc"/>
</beans>