<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 用户 -->
    <bean id="top.cardone.usercenter.dao.UserDao"
          class="top.cardone.usercenter.dao.impl.UserDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/usercenter/user/"/>
                        <entry key="pks" value="userId"/>
                        <entry key="codes" value="userId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="userId" value="getRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 用户 -->
    <bean id="top.cardone.usercenter.service.UserService"
          class="top.cardone.usercenter.service.impl.UserServiceImpl">
        <property name="dao" ref="top.cardone.usercenter.dao.UserDao"/>
    </bean>

    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="exceptionParnet">
                <property name="serviceInterface" value="top.cardone.usercenter.service.UserService"/>
                <property name="service" ref="top.cardone.usercenter.service.UserService"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.UserService"/>
            </bean>
        </property>
    </bean>
</beans>