<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 用户与地址 -->
    <bean id="top.cardone.usercenter.dao.UserAddressDao"
          class="top.cardone.usercenter.dao.impl.UserAddressDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/usercenter/userAddress/"/>
                        <entry key="pks" value="userAddressId"/>
                        <entry key="codes" value="orgCode,userCode,address,endDate"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="userAddressId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readPrincipalFunc"/>
                        <entry key="createdDate" value="readOneDateFunc"/>
                        <entry key="beginDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                        <entry key="orgCode" value="orgCodeDefaultValueFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readPrincipalFunc"/>
                        <entry key="lastModifiedDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                        <entry key="orgCode" value="orgCodeDefaultValueFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>
	
    <bean id="top.cardone.usercenter.service.UserAddressService"
          class="top.cardone.usercenter.service.impl.UserAddressServiceImpl">
		<property name="dao" ref="top.cardone.usercenter.dao.UserAddressDao"/>
	</bean>
</beans>