<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:direct-exchange
            name="exchange:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.ProvinceService">
        <rabbit:bindings>
            <rabbit:binding
                    queue="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.ProvinceService"
                    key="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.ProvinceService"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue
            name="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.ProvinceService"/>

    <bean id="top.cardone.usercenter.service.ProvinceServiceExporter" parent="remoteInvocationExecutorParnet">
        <property name="serviceInterface" value="top.cardone.usercenter.service.ProvinceService"/>
        <property name="service" ref="top.cardone.usercenter.service.ProvinceService"/>
    </bean>

    <rabbit:listener-container message-converter="amqpMessageConverter" connection-factory="rabbitConnectionFactory" concurrency="1" max-concurrency="1">
        <rabbit:listener ref="top.cardone.usercenter.service.ProvinceServiceExporter"
                         queue-names="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.ProvinceService"/>
    </rabbit:listener-container>
</beans>