<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="top.cardone.usercenter.func.FindListDepartmentForTreeFunc"
          class="top.cardone.usercenter.func.FindListDepartmentForTreeFunc"/>

    <alias name="top.cardone.usercenter.func.FindListDepartmentForTreeFunc" alias="findListDepartmentForTreeFunc"/>

    <alias name="top.cardone.usercenter.func.FindListDepartmentForTreeFunc" alias="departmentTreeFunc"/>

    <bean id="top.cardone.usercenter.func.FindOneUserByPrincipalFunc"
          class="top.cardone.usercenter.func.FindOneUserByPrincipalFunc"/>

    <alias name="top.cardone.usercenter.func.FindOneUserByPrincipalFunc" alias="findOneUserByPrincipalFunc"/>

    <bean id="top.cardone.usercenter.func.ReadOneCreatedByIdFunc"
          class="top.cardone.usercenter.func.ReadOneCreatedByIdFunc"/>

    <alias name="top.cardone.usercenter.func.ReadOneCreatedByIdFunc" alias="readOneLastModifiedByIdFunc"/>

    <alias name="top.cardone.usercenter.func.ReadOneCreatedByIdFunc" alias="readLastModifiedByIdFunc"/>

    <bean id="top.cardone.usercenter.func.GenerateDepartmentTreeFunc"
          class="top.cardone.usercenter.func.GenerateDepartmentTreeFunc"/>

    <alias name="top.cardone.usercenter.func.GenerateDepartmentTreeFunc" alias="generateDepartmentTreeFunc"/>
</beans>