<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 用户 -->
    <bean id="top.cardone.usercenter.dao.UserDao"
          class="top.cardone.usercenter.dao.impl.UserDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/usercenter/user/"/>
                        <entry key="pks" value="userId"/>
                        <entry key="codes" value="userCode"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="userId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readPrincipalFunc"/>
                        <entry key="createdDate" value="readOneDateFunc"/>
                        <entry key="beginDate" value="readOneDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readPrincipalFunc"/>
                        <entry key="lastModifiedDate" value="readOneDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>
	
    <bean id="top.cardone.usercenter.service.UserService"
          class="top.cardone.usercenter.service.impl.UserServiceImpl">
		<property name="dao" ref="top.cardone.usercenter.dao.UserDao"/>
	</bean>
</beans>