<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:direct-exchange
            name="exchange:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.AreaService">
        <rabbit:bindings>
            <rabbit:binding
                    queue="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.AreaService"
                    key="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.AreaService"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue
            name="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.AreaService"/>

    <bean id="top.cardone.usercenter.service.AreaServiceExporter" parent="remoteInvocationExecutorParnet">
        <property name="serviceInterface" value="top.cardone.usercenter.service.AreaService"/>
        <property name="service" ref="top.cardone.usercenter.service.AreaService"/>
    </bean>

    <rabbit:listener-container acknowledge="none" concurrency="10" prefetch="5">
        <rabbit:listener ref="top.cardone.usercenter.service.AreaServiceExporter"
                         queue-names="queue:cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.AreaService"/>
    </rabbit:listener-container>
</beans>