<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 组织 -->
    <bean id="top.cardone.usercenter.dao.OrgDao"
          class="top.cardone.usercenter.dao.impl.OrgDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/usercenter/org/"/>
                        <entry key="pks" value="orgId"/>
                        <entry key="codes" value="orgCode"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="orgId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readPrincipalFunc"/>
                        <entry key="createdDate" value="readOneDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readPrincipalFunc"/>
                        <entry key="lastModifiedDate" value="readOneDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>
	
    <bean id="top.cardone.usercenter.service.OrgService"
          class="top.cardone.usercenter.service.impl.OrgServiceImpl">
		<property name="dao" ref="top.cardone.usercenter.dao.OrgDao"/>
	</bean>
</beans>