<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="top.cardone.data.listener.GenerateListener" lazy-init="${listener.OrgService.lazyInit:false}">
        <property name="serviceBeanId" value="top.cardone.usercenter.service.OrgService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="orgTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener" lazy-init="${listener.RegionService.lazyInit:false}">
        <property name="serviceBeanId" value="top.cardone.usercenter.service.RegionService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="regionTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener" lazy-init="${listener.DepartmentService.lazyInit:false}">
        <property name="serviceBeanId" value="top.cardone.usercenter.service.DepartmentService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="departmentTree"/>
                    <entry key="value" value="yes"/>
                </map>
                <map>
                    <entry key="variableCode" value="userGroup"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener" lazy-init="${listener.UserService.lazyInit:false}">
        <property name="serviceBeanId" value="top.cardone.usercenter.service.UserService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroup"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>
</beans>