<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 部门 -->
    <bean id="top.cardone.usercenter.dao.DepartmentDao"
          class="top.cardone.usercenter.dao.impl.DepartmentDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/usercenter/department/"/>
                        <entry key="pks" value="departmentId"/>
                        <entry key="codes" value="departmentCode"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="departmentId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 部门 -->
    <bean id="top.cardone.usercenter.service.DepartmentService"
          class="top.cardone.usercenter.service.impl.DepartmentServiceImpl">
        <property name="dao" ref="top.cardone.usercenter.dao.DepartmentDao"/>
    </bean>

    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="remoteInvocationExecutorParnet">
                <property name="serviceInterface" value="top.cardone.usercenter.service.DepartmentService"/>
                <property name="service" ref="top.cardone.usercenter.service.DepartmentService"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-usercenter-${cardone-usercenter-version}:top.cardone.usercenter.service.DepartmentService"/>
            </bean>
        </property>
    </bean>
</beans>