<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 用户与组织 -->
    <bean id="top.cardone.usercenter.dao.UserOrgDao"
          class="top.cardone.usercenter.dao.impl.UserOrgDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/usercenter/userOrg/"/>
                        <entry key="pks" value="userOrgId"/>
                        <entry key="codes" value="userOrgId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="userOrgId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readOneCreatedByIdFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>
	
    <bean id="top.cardone.usercenter.service.UserOrgService"
          class="top.cardone.usercenter.service.impl.UserOrgServiceImpl">
		<property name="dao" ref="top.cardone.usercenter.dao.UserOrgDao"/>
	</bean>
</beans>