<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 地区 -->
    <bean id="top.cardone.usercenter.dao.AreaDao"
          class="top.cardone.usercenter.dao.impl.AreaDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/usercenter/area/"/>
                        <entry key="pks" value="areaId"/>
                        <entry key="codes" value="provinceCode,cityCode,areaCode,endDate"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="areaId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readPrincipalFunc"/>
                        <entry key="createdDate" value="readOneDateFunc"/>
                        <entry key="beginDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readPrincipalFunc"/>
                        <entry key="lastModifiedDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>
	
    <bean id="top.cardone.usercenter.service.AreaService"
          class="top.cardone.usercenter.service.impl.AreaServiceImpl">
		<property name="dao" ref="top.cardone.usercenter.dao.AreaDao"/>
	</bean>
</beans>