<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="top.cardone.context.action.Actions" init-method="action">
        <property name="actions">
            <list>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.usercenter.service.UserService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/usercenter/init-data/user-*.json"/>
                </bean>
                <bean class="top.cardone.data.action.InitDataAction">
                    <property name="serviceBeanId" value="top.cardone.usercenter.service.DepartmentService"/>
                    <property name="jsonFiles" value="${app.root}/config/*/usercenter/init-data/department-*.json"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="generateOrgTreeAction"
          class="top.cardone.data.action.GenerateTreeAction">
        <property name="codePutKey" value="orgCode"/>
        <property name="codeGetKey" value="ORG_CODE"/>
        <property name="pkPutKey" value="orgId"/>
        <property name="pkGetKey" value="ORG_ID"/>
        <property name="service" ref="top.cardone.usercenter.service.OrgService"/>
    </bean>

    <bean id="generateRegionTreeAction"
          class="top.cardone.data.action.GenerateTreeAction">
        <property name="codePutKey" value="regionCode"/>
        <property name="codeGetKey" value="REGION_CODE"/>
        <property name="pkPutKey" value="regionId"/>
        <property name="pkGetKey" value="REGION_ID"/>
        <property name="service" ref="top.cardone.usercenter.service.RegionService"/>
    </bean>

    <bean id="generateDepartmentTreeAction"
          class="top.cardone.data.action.GenerateTreeAction">
        <property name="codePutKey" value="departmentCode"/>
        <property name="codeGetKey" value="DEPARTMENT_CODE"/>
        <property name="pkPutKey" value="departmentId"/>
        <property name="pkGetKey" value="DEPARTMENT_ID"/>
        <property name="service" ref="top.cardone.usercenter.service.DepartmentService"/>
    </bean>
</beans>