<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <bean id="top.cardone.data.support.DataOperationsSupport"
          class="top.cardone.data.support.impl.DataOperationsSupportImpl"/>

    <bean id="top.cardone.data.support.PageableSupport" class="top.cardone.data.support.impl.PageableSupportImpl"/>

    <bean id="top.cardone.data.support.PageSupport" class="top.cardone.data.support.impl.PageSupportImpl"/>

    <bean id="readRandomUUIDFunc" class="top.cardone.data.func.ReadRandomUUIDFunc"/>

    <bean name="readOneDateFunc" class="top.cardone.context.action.MethodInvokerFunc0">
        <property name="staticMethod" value="top.cardone.context.util.DateUtils.now"/>
    </bean>

    <bean name="endDateDefaultValueFunc" class="top.cardone.context.func.DefaultValueFunc">
        <property name="defaultValue" value="9999-01-01"/>
        <property name="converter">
            <bean class="top.cardone.core.convert.support.StringToDateConverter"/>
        </property>
    </bean>

    <bean name="systemInfoCodeDefaultValueFunc" class="top.cardone.context.func.DefaultValueFunc">
        <property name="defaultValue" value="cardone"/>
    </bean>

    <bean name="siteCodeDefaultValueFunc" class="top.cardone.context.func.DefaultValueFunc">
        <property name="defaultValue" value="cardone"/>
    </bean>

    <bean name="orgCodeDefaultValueFunc" class="top.cardone.context.func.DefaultValueFunc">
        <property name="defaultValue" value="cardone"/>
    </bean>
</beans>