<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 国际化信息 -->
    <bean id="top.cardone.configuration.dao.I18nInfoDao"
          class="top.cardone.configuration.dao.impl.I18nInfoDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/configuration/i18nInfo/"/>
                        <entry key="pks" value="i18nInfoId"/>
                        <entry key="codes" value="typeCode,i18nInfoCode"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="i18nInfoId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 国际化信息 -->
    <bean id="top.cardone.configuration.service.I18nInfoService"
          class="top.cardone.configuration.service.impl.I18nInfoServiceImpl">
        <property name="dao" ref="top.cardone.configuration.dao.I18nInfoDao"/>
    </bean>
</beans>