<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 站点 -->
    <bean id="top.cardone.configuration.dao.SiteDao"
          class="top.cardone.configuration.dao.impl.SiteDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/configuration/site/"/>
                        <entry key="pks" value="siteId"/>
                        <entry key="codes" value="systemInfoCode,siteCode"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="siteId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 站点 -->
    <bean id="top.cardone.configuration.service.SiteService"
          class="top.cardone.configuration.service.impl.SiteServiceImpl">
        <property name="dao" ref="top.cardone.configuration.dao.SiteDao"/>
    </bean>
</beans>